/*#image-container-Home{
    display: none;
}
#image-container-Office{
    display: none;
}*/

.invisible {
    position: absolute;
}

.middle{
    position: relative;
    top:200px;
}

.dumbeldore {
    overflow: hidden;
}

.close-btn{
    z-index: 100;
    position: absolute;
    right: 4px;
    top: -4px;
    font-size: 40px;
    color: white;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-border {
    border: 0px;
    border-radius: 0px;
}

.active-selection {
    background-color: #71b100;
    /*background-color: red;*/
}

.inactive-selection {
    background-color: white;
    /*color: #353535;*/
}

.img-hover img {
    position: relative;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}
.img-hover img:hover {
    z-index: 100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}
